Binaries
DerivedDataCache
Intermediate
Saved
Content/DownloadAsset/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/DownloadAsset/
Content/EnemyAnimation/
Content/Developers